---
layout: default
title: Homepage
---
<div class="container">

	<ol class="messages">
		{% for post in site.posts %}
		<li>
			<article class="message">
				<h2 class="message__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

				{% if post.series %}
				<h3 class="message__series"><a href="{{ post.url }}">{{ post.series }}</a></h3>
				{% endif %}

				<time class="message__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>

				{% if post.scripture %}
				<div class="message__scripture">
					{{ post.scripture }}
				</div>
				{% endif %}

			</article>
		{% endfor %}
		</li>
	</ol>

</div>
