<header class="header" role="banner">
<div class="container">
  <img class="header__image" src="{{ site.baseurl }}/images/2015-08-15 10.45.33.jpg">
  <h1 class="header__title"><a href="{{ site.baseurl }}/" title="{{ site.name }}">David Ollerton</a></h1>
  <div class="header__description"><p>David is a Welsh-speaking Lancastrian who maintains his childhood loyalty to English rugby and Manchester United. He is married to Liz, has two daughters and a son, and six grandchildren. With them, he walks up mountains… a pleasure that he is passing down the family’s genes. He also works with <a href="http://www.waleswide.org/">Waleswide/Cymrugyfan</a>, a church planting, strengthening and training network.</p></div>

  <nav class="navigation" role="navigation">
    <ul>
      <li><a href="#">iTunes</a></li>
      <li><a href="{{ site.baseurl }}/podcast.rss">RSS</a></li>
    </ul>
  </nav>
</div>
</header>
