{% include post-navigation.html %}

<header class="header">

  <div class="container">

    <img class="header__image" src="{{ site.baseurl }}/images/avatar.jpg" alt="A photograph of David standing next to a cairn on top of Fan Fawr in the Brecon Beacons">

    <h1 class="header__title">
      <a href="{{ site.baseurl }}/" title="{{ site.name }}">David Ollerton</a>
    </h1>
    <h2 class="header__subtitle">1950 - 2017</h2>

    <div class="header__description">
      {{ site.description | markdownify }}
    </div>

    {% include header-navigation.html %}

  </div>

</header>
