<header class="header" role="banner">
<div class="container">
  <img class="header__image" src="{{ site.baseurl }}/images/2015-08-15 10.45.33.jpg">
  <h1 class="header__title"><a href="{{ site.baseurl }}/" title="{{ site.name }}">David Ollerton</a></h1>
  <div class="header__description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed mattis felis.</p></div>

  <nav class="navigation" role="navigation">
    <ul>
      <li><a href="#">iTunes</a></li>
      <li><a href="#">RSS</a></li>
      <li><a href="#">Donate</a></li>
    </ul>
  </nav>
</div>
</header>
