<meta charset="utf-8"/>
<meta name="author" content="{{ site.author.name }}"/>
<meta name="referrer" content="origin"/>
<meta name="robots" content="index, follow"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="google-site-verification" content="U9pkjVYBTaGEjcUGeUM1c1IgeJY6JexV5ZErjH2ODlc" />
<meta content="{{ site.title }}" property="og:site_name">

{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}

{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}

{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% else %}
  <meta content="{{ site.description | markdownify | strip_html | xml_escape }}" property="og:description">
{% endif %}

{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description | markdownify | strip_html | xml_escape }}">
{% endif %}

{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.author }}" property="article:author">
{% endif %}

{% if page.image %}
  <meta content="{{ site.url }}/images/{{ page.image }}" property="og:image">
{% else %}
  <meta content="{{ site.url }}/images/itunes.png" property="og:image">
{% endif %}

{% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/images/itunes.png">
{% endif %}

{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}

{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}
