.audio-player__title,
.audio-player__date {
color: $white;
text-align: center;
}

.audio-player__date {
text-align: center;
display: block;
text-transform: uppercase;
font-size: 0.75rem;
color: $lighttextcolor;
margin-bottom: 1.5em;
}

.audio-player {

  .mejs__container {
  max-width: 800px;
  margin: 0 auto;
  }

  .mejs__horizontal-volume-slider {
  background: none;
  }

  .mejs__controls:not([style*="display: none"]) {
  background: $mineshaft;
  }

}
