// ----------------------------------------------------------------
//
// Breakpoints
//
// ----------------------------------------------------------------
$small: 320px;
$medium: 480px;
$large: 768px;
$xlarge: 1490px;
$xxlarge: 1921px;


$deepblue: #0b7ca2;


$textcolor: #222;


$basefontsize: 12;
$gutterwidth: 20px;
$baselineheight: 1.5em;

$basefontfamily: Helvetica, Arial, sans-serif;
$codefontfamily: Consolas, Menlo, "Courier New", monospace;



$bordercolor: #ccc;
