.header {
color: #fff;
padding: 4rem 1.5rem 2rem;
}

.header__title {
text-transform: uppercase;
font-size: 3rem;
line-height: 1;
margin-top: 0;

  a {color: #fff;}

}

.header__description {
  margin: 0;
}
