.container {
max-width: 800px;
margin: 0 auto;
}


.section--posts {
margin-bottom: 1.5em;
background: #fff;
border: 1px solid #dadada;
padding: 1em;
border-radius: 2px;


  .section__main {

     article {
     margin-bottom: 1.5em;
     border-left: 5px solid $bordercolor;
     padding-left: 1em;

       &:last-child {
       margin-bottom: 0;
       }

     }

  }

  @include medium {
  display: table;
  width: 100%;

    .section__main,
    .section__header {
    display: table-cell;
    vertical-align: top;}

    .section__header {
    width: 30%;
    color: #777;
    }

  }

}
