.messages {
list-style-type: none;
margin: 0;
margin-top: 2rem;
}

.message {
padding: 1.5rem;
background: rgba(255,255,255, 1);
margin-bottom: 1.5rem;
border-radius: 2px;
border: 1px solid #dadada;
}

.message__title {
margin: 0;
}
.message__date {}
.message__scripture {}
.message__church {}
