.header-navigation {

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

  li {
  display: inline-block;
  margin-right: 0.5rem;
  }

}


.item-pagination {
@include clearfix;
text-align: center;
padding: 1em 0;

  @include medium {
  padding: 1em 46px;
  }

  a,
  a:focus {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  }

  .item-pagination__pager {
  display: none;
  padding: 0.5em 1em;

    @include medium {
    display: inline-block;
    margin: 0 1em;
    }

  }

  .item-pagination__next,
  .item-pagination__previous {
  padding: 0.5em 1em;
  background: none;
  border-radius: 3px;
  border: 1px solid $bordercolor;
  }

  .item-pagination__previous {
  margin-left: 1em;
  float: left;

    @include medium {
    float: none;
    }

  }

  .item-pagination__next {
  margin-right: 1em;
  float: right;

    @include medium {
    float: none;
    }

  }

  .item-pagination__disabled {
  color: rgba($textcolor, 0.5);
  pointer-events: none;
  }

}

.tag-navigation {
background: lighten($mineshaft, 3%);
padding: 1em;
}

.secondary-nav {
display: block;
margin: 0 auto;
text-align: center;
padding: 0;

  li {
  display: inline-block;

    a {
    display: block;
    background: lighten($mineshaft, 15%);
    color: $white;
    text-decoration: none;
    padding: 0.5em 0.75em;
    border-radius: 2em;

      &:hover {
      background: $deepblue;
      }

      &.active {
      background: $deepblue;
      }

    }



  }

}
