.page {
margin-top: 2rem;
}

.page__header {
text-align: center;
margin-bottom: 1em;
padding-bottom: 1em;
text-transform: uppercase;
}

.fluid-width-video-wrapper {
  margin-bottom: 1.5em
}

.tg-header {
margin-bottom: 0;
}

.tg__title,
.tg__subtitle {
font-family: Georgia, Times, "Times New Roman", serif;
}

.tg__title {
font-size: 0.875em;

  span {
  font-size: 2.4em;
  display: block;
  }

}

.tg__subtitle {
text-align: center;
margin-top: 0;

sup {
  font-size: 0.5em;
}
}


.align-center {
  text-align: center;
}
