.post {
background: rgba($white, 1);
border-bottom: 1px solid $bordercolor;
}

.post__body {
padding: 2rem 1.5rem;
}

.post__feature {
background: $mineshaft;
padding: 2rem 0;
}

.post__title {
margin: 0;
text-align: center;
font-size: 3rem;
}

.post__date {
text-align: center;
display: block;
margin-bottom: 0;
text-transform: uppercase;
font-size: 0.75rem;
color: $lighttextcolor;
}
