---
layout: page
title: Messages by year
---
{% assign posts = site.posts | sort:"date" %}

{% for post in posts reversed %}
  {% assign this_year = post.date | date:"%Y" %}

  {% if this_year != year %}
    {% unless forloop.first %}
  </ol>
</section>
    {% endunless %}

    <section class="section section--year">
      <header class="section__header" aria-labelledby="year-{{ this_year }}">
        <h1 id="year-{{ this_year }}">{{ this_year }}</h1>
      </header>

      <ol class="items">
        {% assign year = this_year %}
      {% endif %}

      {% include item-message.html %}


      {% if forloop.last %}
    </section>

  {% endif %}
{% endfor %}
