---
layout: compress
---
<!DOCTYPE html>
<html lang="en-gb" class="no-js">
  <head>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/ico"/>
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/icons/apple-touch-icon-192x192.png" type="image/png"/>
    <link rel="mask-icon" href="{{ site.baseurl }}/images/icons/icon.svg" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
    <link rel="alternate" type="application/rss+xml" title="Podcast" href="{{ site.url }}/podcast.rss" />

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    <title>{% if page.title %}{{ page.title }} – {% endif %} {{ site.title }}</title>

  </head>

  <body id="top">

    {% include header.html %}
    {% include main.html %}
    {% include footer.html %}

    {% include google-analytics.html %}

    <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>

    {% if page.scripture %}
    <script src="https://cdn.jsdelivr.net/mediaelement/3.2.3/mediaelement-and-player.min.js" defer></script>
    <script src="{{ site.baseurl }}/js/audio-analytics.js" defer></script>

    <script>

    var reference = '{{ page.scripture }}';

    $.getJSON('http://www.esvapi.org/crossref/ref.php?reference=' + reference + '&callback=?',
      function(text){
        if(text){
          $('.item__esvtext').html(text.content);
        } else {
          $('.item__esvtext').html('Error');
        }
      });

    </script>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/fitvids/1.1.0/jquery.fitvids.js"></script>    <script>
    $(document).ready(function(){
      $(".page").fitVids();
    });
    </script>

  </body>
</html>
